<h1>Show Song</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @song.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @song.url %>
  </li>

  <li>
    <strong>Is active:</strong>
    <%= @song.is_active %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.song_path(@conn, :edit, @song) %></span>
<span><%= link "Back", to: Routes.song_path(@conn, :index) %></span>
